@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.app {
width: 700px;
}

.display {
    width:700px;
    height:100px;
    background-color: rgb(153, 145, 145);
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: 50px;
    font-weight: bold;
}

.display .display-operator{
    padding: 10px 13px
}

.display .display-result {
    padding: 10px 10px;
}

.buttons {
    height: 100px;
    display:flex;
}

.buttons button {
    font-size:30px;
    border:1px solid rgb(196, 190, 190);
}

.buttons button:focus {
    border: 2px solid black;
}